<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Book/Author project</title>
    </head>
    <body>
        <h1> Publishers List</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>

            <tr th:each="publisher : ${publishers}">
                <td th:text="${publisher.id}">123</td>
                <td th:text="${publisher.name}">Spring in Action</td>
                <td th:text="${publisher.address}">asdf</td>
            </tr>
        </table>
    </body>
</html>